.div-about {
  background-color: #f5ded1;
  padding-left: 20px;
  padding-right: 50px;
}

.about {
  padding-top: 70px;
  padding-bottom: 80px;
}

.image-tara2 {
  height: 500px;
  margin-left: 20px;
  margin-top: 20px;
}
