@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap");

.about {
  padding-top: 70px;
  padding-bottom: 80px;
}

.div-about {
  padding: 30px; 
}

.interest-title {
  width: 500px; 
}


.sec-about {
  margin-top: 20px;
  margin-bottom: 20px; 
  align-items: center;
}

.int-about {

  align-items: center;
  align-content: center;
}

.int-carousel {
  position: relative;
  width: 600px; 
}

.carousel-grp {
  width: 600px; 
  padding-left: 30px;
}

.img-interests {
  position: absolute;
  width: 600px; 
}


.img-about {
  width: 600px;  
}

.image-tara2 {
  width: 500px !important;

}

.my-interests {
  margin-left: 20px;
  font-size: 20px;
  font-weight: 900;
  line-height: 70pt;
  font-family: "Open Sans", sans-serif;
  text-decoration: underline;
  text-decoration-color: #f5ded1;
  text-decoration-thickness: 10px;
}

.my-interests-subtext {
  font-size: 20px;
  margin-left: 20px;
  font-family: "Open Sans", sans-serif;
}

@media screen and (max-width: 1389px) {
  .header {
    font-size: 60px;
    line-height: 60pt;
  }
  .header-name {
    font-size: 30px;
    line-height: 60pt;
  }
}

@media screen and (max-width: 1350px) {
  
.int-carousel {
  position: relative;
  width: 500px; 
}

.carousel-grp {
  width: 500px; 
  padding-left: 30px;
}

.img-interests {
  position: absolute;
  width: 500px; 
}


.img-about {
  width: 500px;  
}
}

@media screen and (max-width: 1300px) {
  .header {
    font-size: 60px;
    line-height: 60pt;
  }
  .header-name {
    font-size: 60px;
    line-height: 60pt;
  }
}

@media screen and (max-width: 1157px) {
  .header {
    font-size: 40px;
    line-height: 40pt;
  }
  .header-name {
    font-size: 40px;
    line-height: 40pt;
  }

  .subtext {
    font-size: 18px;
  }

  .icon {
    width: 30px;
  }
  .icon-devpost {
    height: 40px;
    margin-top: -2px;
  }

  .row-icons {
    margin-top: 20px;
    justify-content: center;
    width: 35%;
  }

   
.int-carousel {
  position: relative;
  width: 400px; 
}

.carousel-grp {
  width: 400px; 
  padding-left: 30px;
}

.interest-title {
  width: 400px; 
}

.img-interests {
  position: absolute;
  width: 400px; 
}


.img-about {
  width: 500px;  
}
}

@media screen and (max-width: 1000px) {
  .header {
    font-size: 40px;
    line-height: 40pt;
  }
  .header-name {
    font-size: 40px;
    line-height: 40pt;
  }
  .subtext {
    font-size: 18px;
  }

  .icon {
    width: 30px;
  }
  .icon-devpost {
    height: 40px;
    margin-top: -2px;
  }

  .row-icons {
    margin-top: 20px;
    width: 45%;
  }
}

@media screen and (max-width: 910px) {

  .row-icons {
    margin-top: 20px;
    text-align: center;
    width: 60%;
  }
}

@media screen and (max-width: 1100px) {
  .header {
    font-size: 30px;
    line-height: 30pt;
    text-align: center;
    margin-top: 15px;
  }
  .header-name {
    font-size: 30px;
    line-height: 30pt;
  }
  .icon {
    width: 20px;
  }
  .icon-devpost {
    height: 25px;
    margin-top: -2px;
  }

  .row-icons {
    margin-top: 20px;
    text-align: center;
    width: 40%;
  }

  .int-carousel {
    position: relative;
    width: 80vw; 
  }
  
  .carousel-grp {
    width: 80vw; 
  }
  
  .interest-title {
    width: 80vw; 
  }
  
  .img-interests {
    position: absolute;
    width: 80vw; 
    padding: 0; 
    margin: 0; 
  }
  
  .img-about {
    width: 85vw; 
    padding: 30px; 
  }

  .first-about {
    padding-left: 10; 
  }

  .sec-about {
    margin-top: 20px;
    margin-bottom: 20px; 
    padding-left: 10; 
    align-items: center;
  }
  
}

@media screen and (max-width: 762px) {
  .row-icons {
    width: 45%;
  }
  .subtext {
    font-size: 15;
  }
}

@media screen and (max-width: 670px) {
}

@media screen and (max-width: 455px) {
  .row-icons {
    width: 100%;
  }
}
