.div-about {
  /*background-color: #f5ded1;*/
  background-color: #f5f0ed;
  padding-left: 20px;
  padding-right: 50px;
}

.about {
  padding-top: 70px;
  padding-bottom: 80px;
}

.image-tara2 {
  height: 500px;
  margin-left: 20px;
  margin-top: 20px;
}

@media screen and (max-width: 1389px) {
  .image-tara2 {
    margin-left: 30px;
    height: 400px;
  }
  .header {
    font-size: 60px;
    line-height: 60pt;
  }
  .header-name {
    font-size: 60px;
    line-height: 60pt;
  }
}

@media screen and (max-width: 1300px) {
  .header {
    font-size: 60px;
    line-height: 60pt;
  }
  .header-name {
    font-size: 60px;
    line-height: 60pt;
  }
  .image-tara2 {
    margin-left: 30px;
    height: 350px;
  }
}

@media screen and (max-width: 1157px) {
  .header {
    font-size: 40px;
    line-height: 40pt;
  }
  .header-name {
    font-size: 40px;
    line-height: 40pt;
  }

  .image-tara2 {
    margin-left: 30px;
    height: 300px;
  }
  .subtext {
    font-size: 18px;
  }

  .icon {
    width: 30px;
  }
  .icon-devpost {
    height: 40px;
    margin-top: -2px;
  }

  .row-icons {
    margin-top: 20px;
    width: 35%;
  }
}

@media screen and (max-width: 1000px) {
  .header {
    font-size: 40px;
    line-height: 40pt;
  }
  .header-name {
    font-size: 40px;
    line-height: 40pt;
  }

  .image-tara2 {
    margin-left: 30px;
    border-radius: 45px;
  }
  .subtext {
    font-size: 18px;
  }

  .icon {
    width: 30px;
  }
  .icon-devpost {
    height: 40px;
    margin-top: -2px;
  }

  .row-icons {
    margin-top: 20px;
    width: 45%;
  }
}

@media screen and (max-width: 910px) {
  .image-tara2 {
    justify-content: center;
    height: 250px;
    position: relative;
  }

  .row-icons {
    margin-top: 20px;
    text-align: center;
    width: 60%;
  }
}

@media screen and (max-width: 767px) {
  .header {
    font-size: 30px;
    line-height: 30pt;
    text-align: center;
    margin-top: 15px;
  }
  .header-name {
    font-size: 30px;
    line-height: 30pt;
  }

  .image-tara2 {
    margin-left: 50%;
    border-radius: 50px;
  }
  .subtext {
    font-size: 15px;
  }

  .icon {
    width: 20px;
  }
  .icon-devpost {
    height: 25px;
    margin-top: -2px;
  }

  .row-icons {
    margin-top: 20px;
    text-align: center;
    width: 40%;
  }
}

@media screen and (max-width: 762px) {
  .row-icons {
    width: 45%;
  }
}

@media screen and (max-width: 670px) {
  .image-tara2 {
    justify-content: center;
    margin-right: 0px;
    margin-left: 40%;
  }
}

@media screen and (max-width: 455px) {
  .row-icons {
    width: 100%;
  }
}

@media screen and (max-width: 414px) {
  .image-tara2 {
    height: 150px !important;
    margin-left: 115px;
  }

  @media screen and (max-width: 375px) {
    .image-tara2 {
      height: 100px !important;
      margin-left: 112px;
    }
  }

  @media screen and (max-width: 360px) {
    .image-tara2 {
      height: 100px !important;
      margin-left: 110px;
    }
  }

  @media screen and (max-width: 320px) {
    .image-tara2 {
      height: 100px !important;
      margin-left: 85px;
    }
  }
}

@media screen and (max-width: 280px) {
  .image-tara2 {
    margin-left: 55%;
  }
}
