@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap");

.footer {
  padding-bottom: 10px;
  background: none !important;
  text-align: center;
}

.coded-by {
  color: black;
  text-align: center;
  justify-content: center;
  font-weight: 500;
  font-family: "Open Sans", sans-serif;
}
.coded-by2 {
  visibility: hidden;
  position: absolute;
  font-family: "Open Sans", sans-serif;
  margin-top: -30px;
}
.footer-head {
  color: #6d6b6b !important;
  font-weight: bold;
  margin-bottom: 1px;
}

.footer-head:hover {
  opacity: 50%;
}

.footer-text {
  color: #6d6b6b !important;
  line-height: 10px;
}

.footer-text:hover {
  color: #6d6b6b !important;
  line-height: 10px;
  opacity: 50%;
}

.footer-text-disabled {
  color: #6d6b6b !important;
  pointer-events: none;
}

.footer-head-disabled {
  color: #6d6b6b !important;
  pointer-events: none;
  font-weight: bold;
}

.contact-icon:hover {
  opacity: 50%;
}

.linkedin-icon {
  width: 50px !important;
  padding-right: 10px;
}
.github-icon {
  width: 50px !important;
  padding-right: 10px;
}
.mail-icon {
  width: 50px !important;
  margin-top: -3px;
}

.contact-icons {
  margin-top: 10px;
  justify-content: center;
}

@media screen and (max-width: 996px) {
  .footer-text {
    color: #6d6b6b !important;
    line-height: 10px;
  }

  .footer-text:hover {
    color: #6d6b6b !important;
    line-height: 10px;
    opacity: 50%;
  }

  .footer-text-disabled {
    color: #6d6b6b !important;
    pointer-events: none;
  }

  .footer-head-disabled {
    color: #6d6b6b !important;
    pointer-events: none;
    font-weight: bold;
  }

  .contact-icon:hover {
    opacity: 50%;
  }

  .linkedin-icon {
    width: 50px !important;
    padding-right: 10px;
  }
  .github-icon {
    width: 50px !important;
    padding-right: 10px;
  }
  .mail-icon {
    width: 50px !important;
    margin-top: -3px;
  }

  .contact-icons {
    margin-top: 10px;
  }
}

@media screen and (max-width: 991px) {
  .footer {
    z-index: -1;
    padding-bottom: 30px !important;
  }

  .coded-by2 {
    color: #6d6b6b;
    text-align: center;
    font-weight: bold;
    z-index: 1;
    visibility: visible;
  }
}

@media screen and (max-width: 500px) {
  .coded-by2 {
    font-size: 15px;
  }
}

@media screen and (max-width: 360px) {
  .coded-by2 {
    font-size: 12px;
  }
}
