@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap");
.projectheader {
  margin-left: 20px;
  font-size: 50px;
  font-weight: 900;
  line-height: 70pt;
  font-family: "Open Sans", sans-serif;
  text-decoration: underline;
  text-decoration-color: #f5ded1;
  text-decoration-thickness: 10px;
}

.slogan {
  margin-left: 20px;
  font-size: 50px;
  font-weight: 300;
  line-height: 70pt;
}

.subheading {
  font-size: 25px;
  font-weight: 900;
  padding-bottom: 10px;
  padding-top: 30px;
  font-family: "Open Sans", sans-serif;
  text-decoration: underline;
  text-decoration-color: #f5ded1;
  text-decoration-thickness: 5px;
}

.paragraph {
  font-size: 20px;
  font-weight: 400;
  color: black !important;
}

.div-projects {
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 10px;
}

.img-top {
  width: 80vw;
  padding: 20px;
}

.summary-habbit {
  font-family: "Open Sans", sans-serif;
  color: black;
}

.git-habbit:hover {
  text-decoration-color: #fcaf3f;
}

@media screen and (max-width: 850px) {
  .projectheader {
    font-size: 30px !important;
  }
  .slogan {
    font-size: 30px !important;
  }
  .paragraph {
    font-size: 15px !important;
  }
  .subheading {
    font-size: 20px;
  }
}
