@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap");

.div-intro {
  justify-content: "center"; 
   display: flex; 
}

.intro {
  padding-top: 100px;
  padding-bottom: 40px;
  width: 60vw; 
}

.image-tara {
  width: 30vw; 
  padding-right: 20px;
  margin-top: auto;
  margin-bottom: auto;
  display: "flex";
  justify-content: "center";
  align-items: "center";
}

.header-name {
  font-size: 40px;
  line-height: 70pt;
  font-family: "Open Sans", sans-serif;
}

.subtext {
  font-size: 20px;
  font-family: "Open Sans", sans-serif;
}

.row-icons {
  margin-top: 20px;
  justify-content: center;
}

.icon:hover {
  border-bottom: 10px;
  border-color: red;
  border-width: 15px;
}

.icon {
  width: 40px;
  padding: 5px;
}
.icon-devpost {
  height: 48px;
  margin-top: -2px;
  padding: 5px;
}

@media screen and (max-width: 1300px) {
  .header {
    font-size: 60px;
    line-height: 60pt;
  }
  .header-name {
    font-size: 60px;
    line-height: 60pt;
  }
}

@media screen and (max-width: 1157px) {
  .header {
    font-size: 40px;
    line-height: 40pt;
  }
  .header-name {
    font-size: 40px;
    line-height: 40pt;
  }

  .image-tara {
    margin-left: 30px;
    padding-right: 0px;
  }
  .subtext {
    font-size: 18px;
  }

  .icon {
    width: 30px;
  }
  .icon-devpost {
    height: 40px;
    margin-top: -2px;
  }

  .row-icons {
    margin-top: 20px;
    width: 35%;
  }
}

@media screen and (max-width: 1000px) {
  .header {
    font-size: 40px;
    line-height: 40pt;
  }
  .header-name {
    font-size: 40px;
    line-height: 40pt;
  }

  .image-tara {
    margin-left: 30px;
    border-radius: 45px;
  }
  .subtext {
    font-size: 18px;
  }

  .icon {
    width: 30px;
  }
  .icon-devpost {
    height: 40px;
    margin-top: -2px;
  }

  .row-icons {
    margin-top: 20px;
    width: 45%;
  }
}

@media screen and (max-width: 789px) {
  .header {
    font-size: 30px;
    line-height: 30pt;
  }
  .header-name {
    font-size: 30px;
    line-height: 30pt;
  }

  .image-tara {
    margin-left: 0px;
    border-radius: 50px;
    margin-right: 0px;
    padding-right: 0px;
  }
  .subtext {
    font-size: 15px;
  }

  .icon {
    width: 20px;
  }
  .icon-devpost {
    height: 25px;
    margin-top: -2px;
  }

  .row-icons {
    margin-top: 20px;
    width: 40%;
  }
}

@media screen and (max-width: 770px) {
  .image-tara {
    margin-left: 59%;
    border-radius: 40px;
    padding-right: 0px;
  }
  .header-name {
    text-align: center;
  }
  .row-icons {
    width: 50%;
    align-items: center;
  }
}

@media screen and (max-width: 280px) {
  .image-tara {
    margin-left: 65%;
    border-radius: 40px;
    padding-right: 0px;
  }
}
