@import url("https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap");

.div-intro {
  background-color: #f7e5db;
  padding-left: 20px;
  padding-right: 50px;
}

.intro {
  padding-top: 100px;
  padding-bottom: 80px;
}

.image-tara {
  width: 30vw;
  border-radius: 100px;
  margin-left: 100px;
  padding-right: 20px;
}

.header {
  margin-left: 10%;
  font-size: 70px;
  font-weight: 900;
  line-height: 70pt;
  font-family: "lato";
}

.header2 {
  margin-top: -50%;
  font-size: 60px;
  font-weight: 900;
  line-height: 70pt;
  font-family: "lato";
}

.header-name {
  margin-left: 10%;
  font-size: 70px;
  font-weight: 900;
  line-height: 70pt;
  font-family: "lato";
}

.subtext {
  margin-left: 10%;
  margin-top: 30px;
  font-size: 20px;
  font-family: "lato";
}

.row-icons {
  margin-top: 20px;
  width: 39%;
}

.icon:hover {
  border-bottom: 10px;
  border-color: red;
  border-width: 15px;
}

.icon {
  width: 50px;
}
.icon-devpost {
  height: 60px;
  margin-top: -2px;
}

@media screen and (max-width: 1300px) {
  .header {
    font-size: 60px;
    line-height: 60pt;
  }
  .header-name {
    font-size: 60px;
    line-height: 60pt;
  }
}

@media screen and (max-width: 1157px) {
  .header {
    font-size: 40px;
    line-height: 40pt;
  }
  .header-name {
    font-size: 40px;
    line-height: 40pt;
  }

  .image-tara {
    margin-left: 30px;
    padding-right: 0px;
  }
  .subtext {
    font-size: 18px;
  }

  .icon {
    width: 30px;
  }
  .icon-devpost {
    height: 40px;
    margin-top: -2px;
  }

  .row-icons {
    margin-top: 20px;
    width: 35%;
  }
}

@media screen and (max-width: 1000px) {
  .header {
    font-size: 40px;
    line-height: 40pt;
  }
  .header-name {
    font-size: 40px;
    line-height: 40pt;
  }

  .image-tara {
    margin-left: 30px;
    border-radius: 45px;
  }
  .subtext {
    font-size: 18px;
  }

  .icon {
    width: 30px;
  }
  .icon-devpost {
    height: 40px;
    margin-top: -2px;
  }

  .row-icons {
    margin-top: 20px;
    width: 45%;
  }
}

@media screen and (max-width: 789px) {
  .header {
    font-size: 30px;
    line-height: 30pt;
  }
  .header-name {
    font-size: 30px;
    line-height: 30pt;
  }

  .image-tara {
    margin-left: 0px;
    border-radius: 50px;
    margin-right: 0px;
    padding-right: 0px;
  }
  .subtext {
    font-size: 15px;
  }

  .icon {
    width: 20px;
  }
  .icon-devpost {
    height: 25px;
    margin-top: -2px;
  }

  .row-icons {
    margin-top: 20px;
    width: 40%;
  }
}

@media screen and (max-width: 770px) {
  .image-tara {
    margin-left: 59%;
    border-radius: 40px;
    padding-right: 0px;
  }
  .header-name {
    text-align: center;
  }
  .row-icons {
    width: 50%;
    align-items: center;
  }
}

@media screen and (max-width: 280px) {
  .image-tara {
    margin-left: 65%;
    border-radius: 40px;
    padding-right: 0px;
  }
}
