@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap");
.projects-header {
  text-align: center;
  font-size: 20px;
  font-family: "Open Sans", sans-serif;
  padding-bottom: 40px;
}

.div-projects {
  padding-left: 100px;
  padding-right: 100px;
}

.grid {
  padding: 5px;
}

.img-projects {
  display: block;
  width: 100%;
  height: auto;
}

.overlay-shinydocs {
  position: absolute;
  height: fit-content;
  width: fit-content;
  color: white;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  text-align: center;
  opacity: 0;
  transition: 0.5s ease;
  background-color: #045d56;
  border-radius: 5px;
}

.shinydocs {
  position: relative;
  width: 40vw;
}

.shinydocs:hover .img-projects {
  opacity: 0.5;
}

.shinydocs:hover .overlay-shinydocs {
  opacity: 1;
}

.overlay-tunely {
  position: absolute;
  width: fit-content;
  height: fit-content;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  text-align: center;
  opacity: 0;
  transition: 0.5s ease;
  background-color: #a635ff;
  color: white;
  border-radius: 5px;
}

.tunely {
  position: relative;
  width: 40vw;
}

.tunely:hover .img-projects {
  opacity: 0.5;
}

.tunely:hover .overlay-tunely {
  opacity: 1;
}

.overlay-splitpeas {
  position: absolute;
  width: fit-content;
  height: fit-content;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  text-align: center;
  opacity: 0;
  transition: 0.5s ease;
  background-color: #647d7d;
  color: white;
  border-radius: 5px;
}

.splitpeas {
  position: relative;
  width: 40vw;
}

.splitpeas:hover .img-projects {
  opacity: 0.5;
}

.splitpeas:hover .overlay-splitpeas {
  opacity: 1;
}

.overlay-quicktab {
  position: absolute;
  width: fit-content;
  height: fit-content;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  text-align: center;
  opacity: 0;
  transition: 0.5s ease;
  background-color: #43425d;
  color: white;
  border-radius: 5px;
}

.quicktab {
  position: relative;
  width: 40vw;
}

.quicktab:hover .img-projects {
  opacity: 0.5;
}

.quicktab:hover .overlay-quicktab {
  opacity: 1;
}

.overlay-habbit {
  position: absolute;
  width: fit-content;
  height: fit-content;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  text-align: center;
  opacity: 0;
  transition: 0.5s ease;
  background-color: #e27e7b;
  color: white;
  border-radius: 5px;
}

.habbit {
  position: relative;
  width: 40vw;
}

.habbit:hover .img-projects {
  opacity: 0.4;
}

.habbit:hover .overlay-habbit {
  opacity: 1;
}

.overlay-rally {
  position: absolute;
  width: fit-content;
  height: fit-content;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  text-align: center;
  opacity: 0;
  transition: 0.5s ease;
  background-color: #e38b60;
  color: white;
  border-radius: 5px;
}

.rally {
  position: relative;
  width: 40vw;
}

.rally:hover .img-projects {
  opacity: 0.5;
}

.rally:hover .overlay-rally {
  opacity: 1;
}

.text {
  padding: 10px;
  font-size: 15px;
  font-family: "Open Sans", sans-serif;
}

@media screen and (max-width: 1300px) {
  .projects-header {
    margin-left: 20px;
    font-size: 30px;
    font-weight: 900;
    line-height: 70pt;
    font-family: "Open Sans", sans-serif;
    text-decoration: underline;
    text-decoration-color: #f5ded1;
    text-decoration-thickness: 10px;
  }
}

@media screen and (max-width: 1250px) {
  .splitpeas {
    width: 30vw;
  }
  .quicktab {
    width: 30vw;
  }
  .habbit {
    width: 30vw;
  }
  .rally {
    width: 30vw;
  }
  .div-projects {
    padding-left: 70px;
    padding-right: 70px;
  }
}

@media screen and (max-width: 1250px) {
  .splitpeas {
    width: 30vw;
  }
  .quicktab {
    width: 30vw;
  }
  .habbit {
    width: 30vw;
  }
  .rally {
    width: 30vw;
  }
}

@media screen and (max-width: 1200px) {
  .splitpeas {
    width: 70vw;
  }
  .quicktab {
    width: 70vw;
  }
  .habbit {
    width: 70vw;
  }
  .rally {
    width: 70vw;
  }

  .text {
    font-size: 14px;
    font-family: "Open Sans", sans-serif;
  }
}

@media screen and (max-width: 1157px) {
  .projects-header {
    font-size: 35px;
  }
}

@media screen and (max-width: 789px) {
  .projects-header {
    font-size: 25px;
    line-height: 25px;
  }
}

@media screen and (max-width: 300px) {
  .projects-header {
    font-size: 20px;
  }
}
