@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap");
.projectheader {
  margin-left: 20px;
  font-size: 50px;
  font-weight: 900;
  line-height: 70pt;
  font-family: "Open Sans", sans-serif;
  text-decoration: underline;
  text-decoration-color: #f5ded1;
  text-decoration-thickness: 10px;
}

.img-wireframes {
  width: 60%;
}

.paragraph {
  font-size: 20px;
  font-weight: 400;
  color: black !important;
}

.slogan {
  margin-left: 20px;
  font-size: 50px;
  font-weight: 300;
  line-height: 70pt;
}

.summary-rally {
  font-family: "Open Sans", sans-serif;
  color: black;
}

.git-rally:hover {
  text-decoration-color: #f96c4b;
}

.img-top {
  width: 80vw;
  padding: 20px;
}
