@import url("https://fonts.googleapis.com/css2?family=Anonymous+Pro&display=swap");

.div-skills {
  padding-bottom: 30px;
}

.img-skills {
  width: 80%;
  margin-left: -20%;
  margin-bottom: 50px;
}

.ed-icon {
  width: 110px;
  padding-right: 20px;
  padding-bottom: 20px;
  margin-left: -12%;
}

.ed-title {
  font-size: 40px;
  font-weight: bold;
  font-family: "Anonymous Pro", monospace;
  margin-bottom: 20px;
}

.school {
  font-size: 20px;
  font-weight: bold;
}

.activities {
  font-size: 18px;
}

.school-group {
  width: 95%;
}

.ed-group {
  margin-bottom: 20px;
}

@media screen and (max-width: 1345px) {
  .img-skills {
    width: 65%;
  }

  .ed-icon {
    margin-left: -20%;
  }
}

@media screen and (max-width: 1345px) {
  .ed-icon {
    width: 100px;
    height: 100px;
  }

  .img-skills {
    margin-top: 10%;
  }
}
