@import url("https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap");
.projectheader {
  margin-left: 20px;
  font-size: 50px;
  font-weight: 900;
  line-height: 70pt;
  font-family: "lato";
  text-decoration: underline;
  text-decoration-color: #f5ded1;
  text-decoration-thickness: 10px;
}

.slogan {
  margin-left: 20px;
  font-size: 50px;
  font-weight: 300;
  line-height: 70pt;
}

@media screen and (max-width: 1200px) {
  .slogan {
    font-size: 35px !important;
  }
  .projectheader {
    font-size: 40px !important;
  }
}

@media screen and (max-width: 950px) {
  .slogan {
    font-size: 30px !important;
  }
  .projectheader {
    font-size: 35px !important;
  }
}

.div-projects {
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 10px;
}

.img-top {
  width: 80vw;
  padding: 20px;
}

.prev {
  font-size: 25px;
  font-weight: 900;
  line-height: 70pt;
  margin-right: 65%;
  font-family: "lato";
  text-decoration: none;
  color: black;
  text-align: left;
}

@media screen and (max-width: 1300px) {
  .prev {
    margin-right: 60%;
  }
}

@media screen and (max-width: 1280px) {
  .prev {
    margin-right: 55%;
  }
}

@media screen and (max-width: 1070px) {
  .prev {
    margin-right: 50%;
  }
}

.next {
  text-align: right;
  font-size: 25px;
  font-weight: 900;
  line-height: 70pt;
  font-family: "lato";
  text-decoration: none;
  color: black;
}

.next-disabled {
  text-align: right;
  font-size: 25px;
  font-weight: 900;
  line-height: 70pt;
  font-family: "lato";
  text-decoration: none;
  color: black;
  opacity: 0.5;
}

.next:hover {
  text-decoration: underline;
  text-decoration-color: #f5ded1;
  text-decoration-thickness: 10px;
  color: black;
}

.prev:hover {
  text-decoration: underline;
  text-decoration-color: #f5ded1;
  text-decoration-thickness: 10px;
  color: black;
}

.Emma {
  width: 80%;
  padding: 20px;
}

.sp1 {
  width: 80%;
  padding: 20px;
}
.sp2 {
  width: 60%;
  padding: 20px;
}
.sp3 {
  width: 60%;
  padding: 20px;
}
.sp4 {
  width: 60%;
  padding: 20px;
}
.sp5 {
  width: 80%;
  padding: 20px;
}
